@import "tailwindcss";

:root {
  --foreground: #0f1933;
  --background: #e2f2f9;
  --primary: #1a2c5b;
  --secondary: #b8dff0;
  --tertiary: #253f83;
  --accent: #8ecce7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #e2f2f9;
    --background: #0f1933;
    --primary: #1a2c5b;
    --secondary: #b8dff0;
    --tertiary: #253f83;
    --accent: #8ecce7;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
